## Importing Libraries

In [40]:
# Data Processing
import numpy as np
import pandas as pd

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data Preprocessing
from scipy import stats

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc, roc_auc_score

# 1. Exploratory Data Analysis (EDTA)

### Exploring the dataset

In [41]:
def explore_dataframe(df):
    """ Explore a pandas DataFrame.

    Parameters:
    df (DataFrame): Input DataFrame to explore.
    """

    # Display the shape of the DataFrame
    print(f"DataFrame shape: {df.shape}")

    # Display the first few rows of the DataFrame
    print(f"First few rows of the DataFrame:")
    display(df.head())

    # Display the summary statistics of the DataFrame
    print(f"Summary statistics of the DataFrame:")
    description = df.describe()
    display(description.round(2))

    # Display the information about the DataFrame
    print(f"Information about the DataFrame:")
    display(df.info())

    # Check for missing values in the DataFrame
    print(f"Total of Missing values for each column in the DataFrame:")
    print(df.isnull().sum())

    # Checking for duplicated values
    print(f"\n Number of duplicates in the DataFrame = {df.duplicated().sum()}")

In [42]:
churners_df = pd.read_csv('data/BankChurners.csv')
explore_dataframe(churners_df)

DataFrame shape: (10127, 23)
First few rows of the DataFrame:

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

Summary statistics of the DataFrame:

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,1.012700e+04,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00,10127.00
mean,7.391776e+08,46.33,2.35,35.93,3.81,2.34,2.46,8631.95,1162.81,7469.14,0.76,4404.09,64.86,0.71,0.27,0.16,0.84
std,3.690378e+07,8.02,1.30,7.99,1.55,1.01,1.11,9088.78,814.99,9090.69,0.22,3397.13,23.47,0.24,0.28,0.37,0.37
min,7.080821e+08,26.00,0.00,13.00,1.00,0.00,0.00,1438.30,0.00,3.00,0.00,510.00,10.00,0.00,0.00,0.00,0.00
25%,7.130368e+08,41.00,1.00,31.00,3.00,2.00,2.00,2555.00,359.00,1324.50,0.63,2155.50,45.00,0.58,0.02,0.00,1.00
50%,7.179264e+08,46.00,2.00,36.00,4.00,2.00,2.00,4549.00,1276.00,3474.00,0.74,3899.00,67.00,0.70,0.18,0.00,1.00
75%,7.731435e+08,52.00,3.00,40.00,5.00,3.00,3.00,11067.50,1784.00,9859.00,0.86,4741.00,81.00,0.82,0.50,0.00,1.00
max,8.283431e+08,73.00,5.00,56.00,6.00,6.00,6.00,34516.00,2517.00,34516.00,3.40,18484.00,139.00,3.71,1.00,1.00,1.00

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

None

Total of Missing values for each column in the DataFrame:
CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

 Number of duplicates in the DataFrame = 0

- The last two columns are model predictions. We can ignore them.
- We will also delete the `CLIENTNUM` column.

In [43]:
# Delete the last 2 columns and the 'CLIENTNUM' from the dataset
churners_df = churners_df.drop(
    columns=['CLIENTNUM', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])

In [44]:
# Create DataFrame with dtype, unique values and number of missing values
df_info = pd.DataFrame(churners_df.dtypes, columns=['dtype'])
df_info['Unique'] = churners_df.nunique().values
df_info['Null'] = churners_df.isnull().sum().values
df_info

                            dtype  Unique  Null
Attrition_Flag             object       2     0
Customer_Age                int64      45     0
Gender                     object       2     0
Dependent_count             int64       6     0
Education_Level            object       7     0
Marital_Status             object       4     0
Income_Category            object       6     0
Card_Category              object       4     0
Months_on_book              int64      44     0
Total_Relationship_Count    int64       6     0
Months_Inactive_12_mon      int64       7     0
Contacts_Count_12_mon       int64       7     0
Credit_Limit              float64    6205     0
Total_Revolving_Bal         int64    1974     0
Avg_Open_To_Buy           float64    6813     0
Total_Amt_Chng_Q4_Q1      float64    1158     0
Total_Trans_Amt             int64    5033     0
Total_Trans_Ct              int64     126     0
Total_Ct_Chng_Q4_Q1       float64     830     0
Avg_Utilization_Ratio     float64     964     0

In [45]:
print(f"Rows, Columns: {churners_df.shape}")

Rows, Columns: (10127, 20)

Categorical Variables and Numerical Variables

In [47]:
# Get the unique values of categorical columns
cat_cols = churners_df.select_dtypes(include = 'object').columns.tolist()
for col in cat_cols:
    unique_values = churners_df[col].unique()
    print(f"Unique values in '{col}' are: {unique_values}")

Unique values in 'Attrition_Flag' are: ['Existing Customer' 'Attrited Customer']
Unique values in 'Gender' are: ['M' 'F']
Unique values in 'Education_Level' are: ['High School' 'Graduate' 'Uneducated' 'Unknown' 'College' 'Post-Graduate'
 'Doctorate']
Unique values in 'Marital_Status' are: ['Married' 'Single' 'Unknown' 'Divorced']
Unique values in 'Income_Category' are: ['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +'
 'Unknown']
Unique values in 'Card_Category' are: ['Blue' 'Gold' 'Silver' 'Platinum']

In [49]:
numeric_cols = churners_df.select_dtypes(include='float').columns.tolist()
for column in numeric_cols:
    max_value = churners_df[column].max()
    min_value = churners_df[column].min()
    print(f"Column '{column}': Max value = {max_value}, Min value = {min_value}")

Column 'Credit_Limit': Max value = 34516.0, Min value = 1438.3
Column 'Avg_Open_To_Buy': Max value = 34516.0, Min value = 3.0
Column 'Total_Amt_Chng_Q4_Q1': Max value = 3.397, Min value = 0.0
Column 'Total_Ct_Chng_Q4_Q1': Max value = 3.714, Min value = 0.0
Column 'Avg_Utilization_Ratio': Max value = 0.999, Min value = 0.0

Attrition flag

In [ ]:
# Display Attrition_Flag ratio with pie chart
counts_att_flag = churners_df['Attrition_Flag'].value_counts()
plt.figure(figsize=(9,4))
plt.pie(counts_att_flag, labels=counts_att_flag.index, autopct='%1.1f%%',
        startangle=30, explode=[0, 0.02])
plt.title('Attrition_Flag')
plt.show()

Explore categorical columns

In [ ]:
# Explore Categorical column
categorical_cols = churners_df.select_dtypes(include='object').columns.tolist()
fig1, axarr1 = plt.subplots(2, 3, figsize=(18, 9))
plt.subplots_adjust(hspace=0.8, wspace=0.3)

# Configure new title
title_cat = ['Attrition Flag', 'Gender', 'Education Level', 'Marital Status', 'Income Category', 'Card Category']

# Generate bar chart using loop
for i, col in enumerate(categorical_cols):
    sns.countplot(data=churners_df, x=churners_df[col], hue='Attrition_Flag', ax=axarr1[i // 3][i % 3])
    axarr1[i // 3][i % 3].set_xlabel(col.replace('_', ' '))
    axarr1[i // 3][i % 3].set_ylabel('Count')

    # Set ticks and rotate labels
    axarr1[i // 3][i % 3].set_xticks(range(len(churners_df[col].unique())))
    axarr1[i // 3][i % 3].set_xticklabels(axarr1[i // 3][i % 3].get_xticklabels(), rotation=45)
    
    axarr1[i // 3][i % 3].set_title(title_cat[i])
    axarr1[i // 3][i % 3].legend(['Existing','Attrited'])

plt.show()

In [ ]:
def plot_bar_pie(df, feature):
    """Plot bar and pie charts for a given feature"""
    # Calculate counts of each feature
    counts = df[feature].value_counts()
    # Create figure and axes
    fig, axs = plt.subplots(1, 2, figsize=(14, 6))

    # Bar plot
    sns.countplot(data=df, x=feature, hue= 'Attrition_Flag', order=counts.index, stat='percent',palette='viridis', ax=axs[0])
    axs[0].set_title(f'{feature} Distribution (Bar)')
    axs[0].set_xlabel(feature)
    axs[0].set_ylabel('Percent (%)')
    axs[0].tick_params(axis='x', rotation=45)
    axs[0].bar_label(axs[0].containers[0], fontsize=10, fmt='%.1f%%')

    # Pie chart
    size = 0.5
    axs[1].pie(counts, labels=counts.index, 
            autopct='%1.1f%%', pctdistance=0.7,
            startangle=30, explode=[0.02] * len(counts),
            wedgeprops=dict(width=size, edgecolor='w'))
    axs[1].set_title(f'{feature} Distribution (Pie)')

    # Adjust layout to prevent overlap
    plt.tight_layout()

    # Show plot
    plt.show()

In [ ]:
plot_bar_pie(churners_df, 'Income_Category')

For preventing bias, we will remove Unknown values in Income_Category

In [ ]:
# Drop values "Unknown."
churners_df = churners_df.drop(churners_df[churners_df['Income_Category'] == 'Unknown'].index)

In [ ]:
plot_bar_pie(churners_df, 'Income_Category')

In [ ]:
plot_bar_pie(churners_df, 'Marital_Status')

In [ ]:
plot_bar_pie(churners_df, 'Education_Level')

In [ ]:
plot_bar_pie(churners_df, 'Card_Category')

In [ ]:
plot_bar_pie(churners_df, 'Gender')

Check for Unknown values

In [ ]:
# Check all columns for unknown values and which 'Attrition_Flag' has unknown values
for col in churners_df.columns:
    unknown_var = (churners_df[col] == 'Unknown').any()
    if unknown_var:
        print(f"'{col}' has unknown values: {unknown_var}")
    else: pass

In [ ]:
for col in churners_df.columns:
    unknown_var = churners_df[col][churners_df[col] == 'Unknown'].count()
    if unknown_var > 0:
        print(f"Column '{col}' has {unknown_var} unknown values")
    else: pass

In [ ]:
# Check 'Unknown' values of the column 'Education_Level'
qr_edl = (churners_df['Education_Level'] == 'Unknown')
educ_lv = churners_df[qr_edl]['Attrition_Flag'].value_counts()
print(f"Education_Level (Unknown):\n{educ_lv}")

In [ ]:
# Check 'Unknown' values of the Marital_Status column
qr_mrs = (churners_df['Marital_Status'] == 'Unknown')
mar_sta = churners_df[qr_mrs]['Attrition_Flag'].value_counts()
print(f"Marital Status (Unknown):\n{mar_sta}")

Explore numerical columns

In [ ]:
# Explore Numerical columns
numeric_cols = churners_df.select_dtypes(exclude='object').columns.tolist()
fig2, axarr2 = plt.subplots(5, 3, figsize=(16, 16))
plt.subplots_adjust(hspace=0.5, wspace=0.6)

# Configure new title
titles_num = ['Customers age in years', 'Number of dependents', 'Period of relationship with bank',
              'Total Relationship count', 'Months Inactive (12 months)', 'Number of contacts (12 months)',
              'Credit limit on the credit card', 'Total Revolving Balance', 'Open to buy credit line (Avg. 12 months)',
              'Change in transaction amount (Q4/Q1)', 'Total transaction amount', 'Total transaction count',
              'Change in transaction count (Q4/Q1)', 'Average card utilization ratio']

# Generate box plot using loop
for i, col in enumerate(numeric_cols):
    sns.boxplot(data=churners_df, x=churners_df['Attrition_Flag'], y=churners_df[col], hue='Attrition_Flag', ax=axarr2[i // 3][i % 3])
    axarr2[i // 3][i % 3].set_xlabel(col.replace('_', ' '))
    axarr2[i // 3][i % 3].set_ylabel('Count')

    # Set ticks and labels
    axarr2[i // 3][i % 3].set_xticks(range(2))
    axarr2[i // 3][i % 3].set_xticklabels(['Existing', 'Attrited'], rotation=0)
    axarr2[i // 3][i % 3].set_title(titles_num[i])
    axarr2[i // 3][i % 3].legend([])


plt.show()

Correlation Between Features

In [ ]:
# Create heatmap to check correlation between numerical features
numeric = churners_df.select_dtypes(exclude='object').columns.tolist()
corr_matrix = churners_df[numeric].corr()
fig, axes = plt.subplots(figsize=(10,10))
sns.heatmap(corr_matrix, annot = True, linewidths=.5, ax=axes, cmap='coolwarm', fmt= '.1f', annot_kws={'size': 6})
plt.title('Correlation heatmap', fontsize = 15)

In [ ]:
# Convert categorical variables into dummy variables
df_dummies = pd.get_dummies(churners_df)

# Create heatmap
plt.figure(figsize=(10,10))
sns.heatmap(df_dummies.corr(), annot = True, cmap='coolwarm', fmt= '.1f', annot_kws={'size': 6})
plt.title(' Correlation Heatmap')
plt.show()

Credit_Limit and Avg_Open_To_Buy have a correlation of 1.0, indicating perfect correlation. Avg_Open_To_Buy has no correlation with the Attrition_Flag. So we well remove that column.

In [ ]:
churners_clean = churners_df.drop(columns=['Avg_Open_To_Buy'])

Multivariate Analysis

In [ ]:
plt.figure(figsize=(20, 20))
sns.pairplot(churners_df, hue='Attrition_Flag')
plt.show()

Remove outliers

In [ ]:
def handle_outliers(df, columns_to_remove_outliers, zscore_threshold=3):
    """
    Handle outliers in specified columns of a DataFrame.
    Parameters:
        df (DataFrame): Input DataFrame.
        columns_to_remove_outliers (list): List of column names to remove outliers.
        zscore_threshold (float): Z-score threshold for identifying outliers. Default is 3.
    Returns:
        DataFrame: DataFrame with outliers removed.
    """
    # Create a copy of the DataFrame to avoid modifying the original DataFrame
    df_outliers = df.copy()

    # Iterate through each column in columns_to_remove_outliers
    for column_name in columns_to_remove_outliers:
        # Convert the column to a numeric data type, ignoring errors
        df_outliers[column_name] = pd.to_numeric(df_outliers[column_name], errors='coerce')

        # Calculate Z-scores for the specified column
        z_scores = (df_outliers[column_name] - df_outliers[column_name].mean()) / df_outliers[column_name].std()

        # Create a mask to identify outliers
        outlier_mask = np.abs(z_scores) > zscore_threshold

        # Print the columns for which outliers are being removed
        print("Removing outliers for column: " + column_name)

        # Count missing values
        missing_values_count = df_outliers[column_name].isna().sum()
        print("Number of missing values in " + column_name + ": " + str(missing_values_count))

    return df_outliers

# Call the modified function
columns_to_remove_outliers = churners_clean.select_dtypes(exclude = 'object').columns
house_filtered = handle_outliers(churners_clean, columns_to_remove_outliers)

churners_clean.shape

In [ ]:
numeric = churners_clean.select_dtypes(exclude='object').columns.tolist()

def remove_outliers(df, num_cols, threshold=3):
    df_outliers = df.copy()
    # Calculate Z-scores for numerical columns
    z_scores = stats.zscore(df_outliers[num_cols])
    
    # Find outliers indices based on the threshold
    outliers_indices = (np.abs(z_scores) > threshold).any(axis=1)

    # Get the columns with outliers
    outlier_columns = [col for col, has_outliers in zip(num_cols, 
                        (np.abs(z_scores) > threshold).any(axis=0)) if has_outliers]
    
    # Remove outliers
    cleaned_df = df[~outliers_indices]
    
    # Count the values that are removed
    removed_count = outliers_indices.sum()

    return cleaned_df, outlier_columns, removed_count

# Call the function to remove outliers from numerical columns
cleaned_df, outlier_columns, removed_count = remove_outliers(churners_clean, numeric)

print('Columns with outliers:', outlier_columns)
print('Count of removed values:', removed_count)
print(cleaned_df.shape)

In [ ]:
# Write df to csv
churners_df.to_csv('churners_df.csv', index=False)

In [ ]:
churners_df.shape

In [ ]:
# Write cleaned df to csv
cleaned_df.to_csv('churners_clean_df.csv', index=False)